<table border="1" cellspacing>
  <tr>
    <th>title</th>
    <th>subtitle</th>
  </tr>
  <% @titles.each do |title| %>
  <tr>
    <td><%= title %></td>
  </tr>
  <% end %>
</table>
<%= paginate @titles%>
